doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PRODUCTOS
section
    if productsArray.length !==0
        table(style='width:20%', border='1')
            thead
                tr
                    th Nombre
                    th Precio
                    th Foto
            tbody
                each prod in productsArray
                    tr
                        td #{prod.nombre}
                        td #{prod.precio}
                        td
                            img(src=prod.foto, style='width:70px;height:70px')
        tfoot
            form(action='/' method='GET')
                input(type='submit' value='Ingresar Productos')
    else
      h1 No se encontraron productos
         form(action='/' method='GET')
            input(type='submit' value='Ingresar Productos')
