<div>
<form action="/api/productos" method="post">
    <div>
        Nombre: <input require type="text" name="nombre" id="nombre">
    </div>
    <div>
        Precio: <input require type="number" name="precio" id="precio">
    </div>
    <div>
        URL: <input require type="url" name="foto" id="foto">
    </div>
    
    <input type="submit" value="INGRESAR">
</form>
</div>
<div>
    <form action="/api/productos" method="get">
        <input type="submit" value= "Ver productos">
    </form>
</div>
