<div>
  <% if (productsArray.length===0) { %>
    <h1>No se encontraron productos</h1>
    <div>
      <form action="/" method="get">
          <input type="submit" value= "Ingresar productos">
      </form>
    </div>
    <% } else { %>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
      </tr>
      <% productsArray.forEach(prod=>{ %>
      <tr>
        <td><%=prod.nombre%></td>
        <td><%=prod.precio%></td>
        <td><img width="60" height="60" src="<%= prod.foto %>"/></td>
      </tr>
      <% }) %>
    </table>
    <div>
      <form action="/" method="get">
        <input type="submit" value= "Ingresar productos">
    </form>
    </div>
    <% } %>
</div>
